{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Login{% endblock %}

{% block content %}
    <div>
        <a href="{% url 'logout' %}"><button class="btn btn-primary" type="button" name="button">Logout</button></a>
    </div>
    {% for user in users %}
        <div>
            <a href="{% url 'chat:room' room_name=user.id %}"><h4>{{user.first_name}} {{user.last_name}}</h4></a>
        </div>
    {% endfor %}
{% endblock %}
