{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}WebSocial{% endblock %}

{% block head %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/chat_room_style.css' %}">
{% endblock %}

{% block content %}


<div class="container">
    <!-- <h3 class=" text-center">Messaging</h3> -->
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                <div class="recent_heading">
                    <h4>Recent</h4>
                </div>
                <div class="srch_bar">
                    <div class="stylish-input-group">
                    <input type="text" class="search-bar"  placeholder="Search" oninput="search_user(value)" >
                    <button type="button" class="search-btn"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                    </div>
                </div>
                </div>
                <div class="inbox_chat">
					<button class="all_users" onclick="all_users()">+</button>
                  {% for chat in chat_list %}
					{% if chat.is_group %}
						<div onclick="connect_user({{chat.id}},group=true)" id="{{chat.id}}-activate-group" class="chat_list">
							<div class="chat_people">
							<div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
							<div class="chat_ib">
								<h5>{{chat.title|title}} <span class="chat_date">{{chat.last_active_at|date:'Y-m-d H:i' }}</span></h5>
								<p>{{chat.public_room.last.content}}</p>
								<input type="hidden" id="userId" name="userId" value="{{chat.id}}">
							</div>
							</div>
						</div>
					{% else %}
						{% if chat.user_one.id == user.id %}
							<div onclick="connect_user({{chat.user_two.id}})" id="{{chat.user_two.id}}-activate" class="chat_list">
								<div class="chat_people">
								<div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
								<div class="chat_ib">
									<h5>{{chat.user_two.first_name|title}} {{chat.user_two.last_name|title}} <span class="chat_date">{{chat.last_active_at|date:'Y-m-d H:i' }}</span></h5>
									<p>{{chat.private_room.last.content}}</p>
									<input type="hidden" id="userId" name="userId" value="{{chat.user_two.id}}">
								</div>
								</div>
							</div>
						{% else %}
							<div onclick="connect_user({{chat.user_one.id}})" id="{{chat.user_one.id}}-activate" class="chat_list">
								<div class="chat_people">
								<div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
								<div class="chat_ib">
									<h5>{{chat.user_one.first_name|title}} {{chat.user_one.last_name|title}} <span class="chat_date">{{chat.last_active_at|date:'Y-m-d H:i' }}</span></h5>
									<p>{{chat.private_room.last.content}}</p>
									<input type="hidden" id="userId" name="userId" value="{{chat.user_one.id}}">
								</div>
								</div>
							</div>
						{% endif %}
						
					{% endif %}
                  {% endfor %}
                </div>
            </div>

			<div class="name-header">
				<img style="height: 32px; width: 35px; float: left; margin-right: 12px;" src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
				<h5> </h5>
				<h5>{{chat.user_two.first_name|title}} {{chat.user_two.last_name|title}} </h5>
			</div>

            <div class="mesgs">
                <div id = "msg_history" class="msg_history">
                
                <!-- <div class="incoming_msg">
                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div class="received_msg">
                    <div class="received_withd_msg">
                        <p>Test, which is a new approach to have</p>
                        <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
                    </div>
                </div>

                <div class="outgoing_msg">
                    <div class="sent_msg">
                    <p>Apollo University, Delhi, India Test</p>
                    <span class="time_date"> 11:01 AM    |    Today</span> </div>
                </div> -->

                </div>
                <div class="type_msg">
                <div class="input_msg_write">
                    <input type="text" id="write_msg" class="write_msg" placeholder="Type a message" />
                    <button id="msg_send_btn" class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </div>
                </div>
            </div>
        </div>
      
    </div>
</div>
<script>
	var chatSockets = []
	var current_active = null
	s = document.getElementsByClassName("inbox_chat")[0].children;
	for(var i = 0; i < s.length; i++) {
		group = false
		userid = parseInt(s[i].id)
		if (s[i].id.slice(-5)=="group"){
    		group = true
		}
		if(Number.isNaN(userid)==false){
			console.log(userid);
			chatSockets.push({"id":userid,"chatSocket":null,"is_group":group})
			setupWebSocket(userid, group)
		}
	}
	function clearcontent(userid,group) {
		$(".msg_history").empty();
		
		div = document.querySelector('.active_chat');

		if (div != null){
			document.querySelector('.active_chat').classList.remove("active_chat");
		}

		if (group){
			div = document.getElementById(userid+"-activate-group");
		}else{
			div = document.getElementById(userid+"-activate");
		}

		if (div != null){
			if(group){
				document.getElementById(userid+"-activate-group").classList.add('active_chat');
				$(".msg_history")[0].id = "msg_history_group" + userid
				current_active = userid+"-activate-group"
			}
			else{
				document.getElementById(userid+"-activate").classList.add('active_chat');
				$(".msg_history")[0].id = "msg_history" + userid
				current_active = userid+"-activate"
			}
		}
	}

	function connect_user(userid, group) {
		if(group==undefined){
			group=false
		}
		clearcontent(userid, group)
		index = get_chatsocket_index(userid,group)
		if (index == undefined){
			chatSockets.push({"id":userid,"chatSocket":null,"is_group":group})
			setupWebSocket(userid, group)
			index = get_chatsocket_index(userid,group)
			chatSockets[index].chatsocket.onopen = function(e) {
				getChatMessages(userid, group)
			};
		}
		else{
			getChatMessages(userid, group)
		}
		show_user_name(userid,group)
	}


	document.querySelector('#msg_send_btn').onclick = function(e) {
		const messageInputDom = document.querySelector('#write_msg');
		const message = messageInputDom.value;
		if (message!=''){
			group = false
			userid = parseInt(current_active)
			if (current_active.slice(-5)=="group"){
				group = true
			}
			index = get_chatsocket_index(userid,group)
			chatSockets[index].chatsocket.send(JSON.stringify({
				'command':"send_message",
				'message': message,
				'user': {{user.id}}
			}));
			messageInputDom.value = '';
		}
	};

	function get_chatsocket_index(userid,is_group){
		for(var i in chatSockets){
			if(chatSockets[i].id == userid && chatSockets[i].is_group==is_group){
				ok = chatSockets[i]
				return i
			}
		}
	}

	function rearrange_inbox(userid,group,message){
		index = get_chatsocket_index(userid,group)
		chat_userid = (document.getElementsByClassName("inbox_chat")[0].firstElementChild.id)
		if(chat_userid!=userid){
			if (chatSockets[index].is_group) {
				div = document.getElementById(userid+"-activate-group")
			}
			else{
				div = document.getElementById(userid+"-activate")
			}
			
			date = new Date().toLocaleTimeString()
			var d = new Date();
			date = d.getFullYear()+"-"+padToTwo((d.getMonth()+1))+"-"+padToTwo(d.getDate())+" "+padToTwo(d.getHours())+":"+padToTwo(d.getMinutes())
			div.firstElementChild.lastElementChild.firstElementChild.lastElementChild.innerHTML = date
			div.firstElementChild.lastElementChild.getElementsByTagName("p")[0].innerHTML = message
			$(".inbox_chat").prepend(div)
		}
	}

	function setupWebSocket(userid, group){
		roomName = userid
		isGroup = group
		if (isGroup==undefined){
			isGroup=false
		}
		index = get_chatsocket_index(userid,group)
		chatSockets[index].chatsocket = new WebSocket(
			'ws://'
			+ window.location.host
			+ '/ws/chat/'
			+ roomName
			+ '/'
			+ isGroup
			+ '/'
		);



		chatSockets[index].chatsocket.onmessage = function(e) {
			const data = JSON.parse(e.data);

			if (data.private_chat_messages){
				show_previous_messages(data.messages)
			}
			else{
				rearrange_inbox(userid,group,data.message)
				id = "msg_history"+userid
				if (chatSockets[index].is_group) {
					id = "msg_history_group"+userid
				}
				if ($(".msg_history")[0].id == id) {
					date = new Date().toLocaleTimeString().substr(0,5)
					if({{user.id}} == data.user){
						display_sent_message(data.message,date)
					}
					else{
						display_received_message(data.message,date)
					}
					scroll()	
				}
			}
		};

		chatSockets[index].chatsocket.onclose = function(e) {
			console.error('Chat socket closed unexpectedly');
		};

		chatSockets[index].chatsocket.onopen = function(e) {
			console.log("ChatSocket OPEN")
		};
	}

	function closeWebSocket(){
		if(chatSocket != null){
			chatSocket.close()
			chatSocket = null
		}
	}

	function show_user_name(userid,is_group){
		span = document.getElementById(userid+"-activate").getElementsByTagName("h5")[0].lastElementChild
		e = document.getElementById(userid+"-activate").getElementsByTagName("h5")[0].textContent
		name = e.replace(span.textContent,"")
		document.getElementsByClassName("name-header")[0].getElementsByTagName("h5")[0].textContent = name
	}

	function getChatMessages(userid,is_group){
		index = get_chatsocket_index(userid,is_group)
		chatSockets[index].chatsocket.send(JSON.stringify({
			'command':"get_private_or_group_chat_message",
			'user': userid,
			'is_group': is_group
		}));
	}

	function show_previous_messages(messages){
		messages = JSON.parse(messages);
		console.log(messages);
		for (var key in messages) {
			if (messages[key]["user"] == {{user.id}}){
				display_sent_message(messages[key]["content"],messages[key]["date"].substr(11, 5))
			}
			else{
				display_received_message(messages[key]["content"],messages[key]["date"].substr(11, 5))
			}
			scroll()
		}
	}

	function scroll() {
		var elmnt = document.getElementsByClassName("msg_history")[0];
		elmnt.scrollTo(0,document.querySelector(".msg_history").scrollHeight);
	}


	function display_received_message(message,date){
		var incoming_msg = document.createElement("div");
		var received_msg = document.createElement("div");
		var received_withd_msg = document.createElement("div");
		var p_msg = document.createElement("p");
		var span = document.createElement("span");
		var br = document.createElement("br");
		incoming_msg.className = "incoming_msg"
		received_msg.className = "received_msg"
		received_withd_msg.className = "received_withd_msg"
		p_msg.innerHTML = message;
		span.innerHTML = date;
		span.className = "time_date"
		p_msg.appendChild(span)
		received_withd_msg.appendChild(p_msg)
		received_msg.appendChild(received_withd_msg)
		incoming_msg.appendChild(received_msg)
		var msg_history = document.getElementsByClassName("msg_history")[0]
		msg_history.appendChild(incoming_msg)
		msg_history.appendChild(br)
	}

	
	function display_sent_message(message,date){
		var outgoing_msg = document.createElement("div");
		var sent_msg = document.createElement("div");
		var p_msg = document.createElement("p");
		var span = document.createElement("span");
		var br = document.createElement("br");
		outgoing_msg.className = "outgoing_msg"
		sent_msg.className = "sent_msg"
		p_msg.innerHTML = message;
		span.innerHTML = date;
		span.className = "time_date"
		span.style.color = "white"
		p_msg.appendChild(span)
		sent_msg.appendChild(p_msg)
		outgoing_msg.appendChild(sent_msg)
		var msg_history = document.getElementsByClassName("msg_history")[0]
		msg_history.appendChild(outgoing_msg)
		msg_history.appendChild(br)
	}

    function search_user(search_query) {

      $.ajax({
        url: '{% url "accounts:search_user" %}',
        data: {
          'search_query': search_query
        },
        dataType: 'json',
        success: function (data) {
			console.log(data);
			$(".inbox_chat").empty();
			if(data.users_found){
				if("users" in data){
					users = data.users
					for (var user in users) {
						display_search_result(users[user],default_chat_list=false)
					}
				}
				else{
					var btn = document.createElement("button");
					btn.innerHTML = "+"
					btn.className = "all_users"
					btn.setAttribute("onclick","all_users()")
					$(".inbox_chat").append(btn)
					chat_list = data.chat_list
					for (var chat in chat_list) {
						console.log(chat);
						display_search_result(chat_list[chat],default_chat_list=true)
					}
				}
			}
			else{
				var result = document.createElement("div");
				var br = document.createElement("br");
				var h = document.createElement("h6");
				h.innerHTML = "No Results Found"
				h.style.textAlign = "center"
				result.append(br)
				result.append(h)
				div = document.querySelector('.inbox_chat');
				div.append(result)
			}
        }
      });

    };
  
	function display_search_result(user,default_chat_list){
		console.log(user);
		var chat_list = document.createElement("div");
		var chat_people = document.createElement("div");
		var chat_img = document.createElement("div");
		var img = document.createElement("img");
		var chat_ib = document.createElement("div");
		var heading = document.createElement("h5");
		var span = document.createElement("span");
		var p = document.createElement("p");
		var input = document.createElement("input");
		chat_list.className = "chat_list"
		chat_people.className = "chat_people"
		chat_img.className = "chat_img"
		img.src = "https://ptetutorials.com/images/user-profile.png"
		chat_ib.className = "chat_ib"
		span.className = "chat_date"
		if (user.last_active_at){
			span.innerHTML = formate_date(user.last_active_at)
			p.innerHTML = user.last_message
		}
		input.type = "hidden"
		input.id = "userId"
		input.name = "userId"
		input.value = user.id
		if(user.is_group){
			chat_list.id = user.id+'-activate-group'
			chat_list.addEventListener('click', function(){
				connect_user(user.id,group=true);
			});
			heading.innerHTML = user.title
		}
		else{
			if (default_chat_list || user.user_one__id || user.user_two__id){
				if({{user.id}}==user.user_one__id){
					heading.innerHTML = capitalizeFirstLetter(user.user_two__first_name) +" "+ capitalizeFirstLetter(user.user_two__last_name)
					chat_list.setAttribute("onclick","connect_user("+user.user_two__id+")")
					chat_list.id = user.user_two__id+'-activate'
				}
				else{
					heading.innerHTML = capitalizeFirstLetter(user.user_one__first_name) +" "+ capitalizeFirstLetter(user.user_one__last_name)
					chat_list.setAttribute("onclick","connect_user("+user.user_one__id+")")
					chat_list.id = user.user_one__id+'-activate'
				}
			}
			else{
				heading.innerHTML = capitalizeFirstLetter(user.first_name) +" "+ capitalizeFirstLetter(user.last_name)
				chat_list.setAttribute("onclick","connect_user("+user.id+")")
				chat_list.id = user.id+'-activate'
			}
		}
		if(chat_list.id == current_active){
			chat_list.className = "chat_list active_chat"
		}
		heading.append(span)
		chat_ib.append(heading)
		chat_ib.append(p)
		chat_ib.append(input)
		chat_img.append(img)
		chat_people.append(chat_img)
		chat_people.append(chat_ib)
		chat_list.append(chat_people)
		console.log(chat_list);

		div = document.querySelector('.inbox_chat');
		div.append(chat_list)
	}

	function capitalizeFirstLetter(string) {
		return string.charAt(0).toUpperCase() + string.slice(1);
	}

	function formate_date(string){
		var msec = Date.parse(string);
		var d = new Date(msec);
		return d.getFullYear()+"-"+padToTwo((d.getMonth()+1))+"-"+padToTwo(d.getDate())+" "+padToTwo(d.getHours())+":"+padToTwo(d.getMinutes())
	}

	function padToTwo(number) {
		if (number<=9999) { number = ("000"+number).slice(-2); }
		return number;
	}

	function all_users(){
		$.ajax({
			url: '{% url "accounts:users" %}',
			dataType: 'json',
			success: function (data) {
				$(".inbox_chat").empty();
				users = data.users
				console.log(data);
				var btn = document.createElement("button");
				btn.innerHTML = "x"
				btn.className = "all_users"
				btn.setAttribute("onclick","search_user()")
				$(".inbox_chat").append(btn)
				for (var user in users) {
					display_search_result(users[user],default_chat_list=false)
				}
			}
		});
	}

	window.onload = (event) => {
		$('.inbox_chat div:eq(0)').click()
	};
</script>


{% endblock %}

