{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Home{% endblock %}

{% block content %}
<form action="{% url 'chat:create_group' %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="text-center">
        <input class="btn btn-outline-primary btn-sm" type="submit" name="submit" value="Submit">
        <a href="{% url 'chat:chat_list' %}"><button class="btn btn-outline-danger btn-sm" type="button" name="cancel">Cancel</button></a>
    </div>
</form>
{% endblock %}
