{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Login{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <div class="text-center">
    <input class="btn btn-outline-primary btn-sm" type="submit" name="" value="Login">
  </div>

</form>
<hr>
<p style="text-align: center;">Signup instead?</p>
<div class="text-center">
  <a href="{% url 'accounts:signup' %}"><input class="btn btn-outline-primary btn-sm" type="button" name="" value="SignUp"></a>
</div>
{% endblock %}
