{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}


{% block title %}Signup{% endblock %}

{% block content %}

<p style="text-align: center;">Login instead? click here</p>
<div class="text-center">
  <a href="{% url 'login' %}"><input class="btn btn-outline-primary btn-sm" type="button" name="" value="Login"></a>
</div>
<hr>

<form method="post">
  {% csrf_token %}
  {% bootstrap_form user_form %}


  <div class="text-center">
    <input class="btn btn-outline-primary btn-sm" type="submit" name="" value="Signup">
  </div>

</form>
<br>
{% endblock %}
