<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block head %}{% endblock %}
</head>
<body>
    <!-- <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
    </nav> -->
    <nav class="navbar navbar-expand-sm bg-light">

        <a class="navbar-brand" href="#">WebSocial</a>
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'chat:create_group' %}">Create Group</a>
            </li>
            {% endif %}
        </ul>

        <ul class="navbar-nav ml-auto">
            <span class="navbar-text">
                {{request.user.first_name}} {{request.user.last_name}}
              </span>
			{% if request.user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">Logout</a>
				</li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
			{% endif %}
        </ul>
      
    </nav>

    <div class="container">
        <div class="">
          {% block content %}
  
          {% endblock %}
        </div>
    </div>
</body>
</html>