{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to WebSocial</h1>
<a href="{% url 'login' %}"><button class="btn btn-primary" type="button" name="button">Login</button></a>
<a href="{% url 'accounts:signup' %}"><button class="btn btn-primary" type="button" name="button">SignUp</button></a>
{% endblock %}
